@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "Uncut Sans";
  font-weight: 400;
  src:
    local("Uncut Sans"),
    url("./components/fonts/UncutSans-Regular.woff") format("woff"),
    url("./components/fonts/UncutSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Uncut Sans";
  font-weight: 400;
  font-style: italic;
  src:
    local("Uncut Sans"),
    url("./components/fonts/UncutSans-RegularItalic.woff") format("woff"),
    url("./components/fonts/UncutSans-RegularItalic.woff") format("woff2");
}
@font-face {
  font-family: "Uncut Sans";
  font-weight: 700;
  src:
    local("Uncut Sans"),
    url("./components/fonts/UncutSans-Bold.woff") format("woff"),
    url("./components/fonts/UncutSans-Bold.woff2") format("woff2");
}

html {
  font-size: 15px;
  background-color:#113840;

}

body {
  margin: 0;
  font-family: 'IBM plex serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1 {
  font-weight: bold;
}

h1, h2 {
  font-family: 'IBM plex serif', sans-serif;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1px;
}


h3 {
  font-family:"Uncut Sans";
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
  opacity: 0.6;
}

p {
  line-height: 23px;
  letter-spacing: -0.5px;
}

.home-link {
  border:none !important;
  font-size: 30px !important;
  line-height: 35px !important;
  letter-spacing: -1px !important;
  font-weight: bold !important;
}

.home-link:hover {
   background-color: #113840 !important;
   color:#DD9FD3 !important;
}

@media (min-width: 668px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 15px;
  }

}