@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
  font-size: 15px;
  background-color:#113840;

}

body {
  margin: 0;
  font-family: 'IBM plex serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1 {
  font-weight: bold;
}

h1, h2 {
  font-family: 'IBM plex serif', sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -1px;
}


h3 {
  font-family: "IBM Plex Sans", serif;
  font-size: 14px;
  font-style: italic;
  margin: 8px 0px;  
  opacity: 0.6;
}

h4 {
  font-family: 'IBM plex serif', sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -1px;
  font-style: italic;
  color: #B4D3D9;
  text-align: center;
}

h5 {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;

}


p {
  font-size: 14px;
  line-height: 20px;  
  letter-spacing: -0.5px;
}

.home-link {
  
  border:none !important;
  font-size: 20px !important;
  line-height: 35px !important;
  letter-spacing: -1px !important;
  font-weight: bold !important;
  color: #DD9FD3;
  text-decoration: none;
  

  @media (min-width: 668px) {
    font-size: 30px !important;
  }

  @media (min-width: 1025px) {
    font-size: 30px !important;
    line-height: 35px !important;
    letter-spacing: -1px !important;
  }
}

.home-link:hover {
   background-color: #113840 !important;
   color:#DD9FD3 !important;
}

.burger-hidden {
 display: none;
}

.menu {
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column; 
  padding: 27px 10px;
  background-color:#185757;
  opacity: 1;
  transition: translate 1.5s ease-in-out;
  
  a {
    color:#E7D69B;;
    text-decoration: none;
    font-size: 15px;
  }
  
  li {
    padding-top: 10px;
  }
}

.menu-show {
  translate: 0vw;
}

.menu-hidden {
      translate: -100vw;
}

.line {
  border: 0.8px solid #38727E;
  width: 70%;
  display: inline-block;
  margin-bottom: 7px;

  @media (min-width: 668px) {
    display: none;
  }
}


@media (min-width: 668px) {

  h1, h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.6;
  }

  h4 {
    font-size: 25px;
    }

  h5 {
    font-style: italic;
  }
    
  
  p {
    font-size: 15px;
    line-height: 23px;
  }
}

@media (min-width: 1025px) {


}
