@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size: 15px;
  line-height: 29px;
}

body {
  margin: 0;
  font-family: 'IBM plex serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1, h4 {
  font-family: 'IBM plex serif', sans-serif;
  font-size: 30px;
}

p {
  font-size: 15px;
  line-height: 1.7rem;
}


@media (min-width: 668px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 15px;
  }

}